.site-header
{
    height: 30px;
}
.right-sidebar
{
    width: 100%;
    display: flex;
    justify-content: end;
  
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');



/* Inline #2 | http://127.0.0.1:5500/lab-terminal/index.html# */

.right-left-sidebar {
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  
  /* Element | http://127.0.0.1:5500/lab-terminal/index.html# */
  
  .right-right-sidebar {
    width: 20%;
    display: flex;
    justify-content: end;
  }
  
  /* Element | http://127.0.0.1:5500/lab-terminal/index.html# */
  
  .right-left-sidebar > img:nth-child(1) {
    height: 20px;
  }
  


/* Element | http://127.0.0.1:5500/lab-terminal/index.html# */

.navbar-custom {
    box-shadow: 0 0 10px 0 rgba(168,168,168,.5);
  }


/* Inline #2 | http://127.0.0.1:5500/lab-terminal/index.html# */

.main-left-side {
    display: flex;
    width: 10%;
    height: 100%;
  }
  
  .main-left-side .nav.navbar-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .main-left-side {
    /* width: 10%; */
    width: 7%;
    align-items: flex-start;
  }
  
  /* Element | http://127.0.0.1:5500/lab-terminal/index.html# */
  
  html {
    height: 100%;
  }
  
  /* Element | http://127.0.0.1:5500/lab-terminal/index.html# */
  
  body {
    height: 100%;
  }
  
  /* Element | http://127.0.0.1:5500/lab-terminal/index.html# */
  
  .main-content {
    height: 100%;
  }
  

.main-left-side {
    border-right: 2px solid #9c3;
    margin-top: 31px;
    
  }

  .my-custom-header-button
  {
    /* font-family: myriad hebrew,Sans-serif; */
    background-color: #fb545c;
    border-radius: 10px;
    border-color: #fb545c;
    color: white;
    transition: all ease-in-out 0.2s;
  }
  
  .my-custom-header-button:hover
  {
      background-color: red;
      border-color: red;
  }

  .custom-heading
  {
    color: #323754;
    font-size: 4.5em;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2em;
    letter-spacing: 1.3px;
  }
 
/* Element | http://127.0.0.1:5500/lab-terminal/index.html# */

.main-content {
    display: flex;
  }
  
  /* Inline #2 | http://127.0.0.1:5500/lab-terminal/index.html# */
  
  .main-head-row {
    width: 94%;
    padding-left: 40px;
  }
  


/* Element | http://127.0.0.1:5500/lab-terminal/index.html# */

.left-row-main {
    width: 50%;
    padding: 0px 90px;
  }
  
  /* custom.css | http://127.0.0.1:5500/lab-terminal/custom.css */
  
  .main-head-row {
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
  }
  
  /* Element | http://127.0.0.1:5500/lab-terminal/index.html# */
  
  .right-row-main {
    width: 50%;
  }
  
  /* custom.css | http://127.0.0.1:5500/lab-terminal/custom.css?_cacheOverride=1618048789230 */
  
  .custom-heading {
    /* font-size: 4.5em; */
    /* font-weight: 700; */
    /* text-transform: uppercase; */
    /* line-height: 1.2em; */
    /* letter-spacing: 1.3px; */
    font-family: idealist sans light,Sans-serif;
    font-size: 4.5em;
    text-transform: uppercase;
    line-height: 1.2em;
    letter-spacing: 1.3px;
  }
  
  .main-head-row {
    padding-top: 60px;
  }
  

  
  /* Element | http://127.0.0.1:5500/lab-terminal/index.html# */
  
  html {
    width: 100%;
  }
  
  /* Element | http://127.0.0.1:5500/lab-terminal/index.html# */
  
  .right-row-main > img:nth-child(1) {
    width: 90%;
  }

  

  
  
  .custom-subheading-head {
    /* line-height: .857; */
    line-height: 2em;
    font-size: 2em;
  }
  


.custom-button-head {
    padding: 15px 30px;
    background-color: #99cc33;
    border-color: #9c3;
    border-radius: 12px;
  }

  .custom-slider-blurb
  {
    background: #ffffff;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 0.25em 1.0em 0px rgba(0,0,0,0.15);
    margin: 30px 0px;
        margin-right: 0px;
    padding: 2.5em 0 !important;
  }
  
  .custom-slider-blurb
  {
      padding: 0px 50px;
  }


/* Inline #2 | http://127.0.0.1:5500/lab-terminal/index.html# */

.custom-slider-blurb-main {
    padding: 0px 60px;
  }
  
  .custom-slider-blurb-main {
    margin-top: 50px;
  }
  
  .custom-slider-blurb {
    padding: 2.5em 2.5em !important;
    margin-right: 40px;
    max-width: 260px;
  }
  

/* Inline #2 | http://127.0.0.1:5500/lab-terminal/index.html# */

.custom-slider-blurb a {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  /* bootstrap.min.css | http://127.0.0.1:5500/lab-terminal/assets/bootstrap.min.css */
  
  .carousel-inner {
    padding-left: 80px;
  }
  

/* custom.css | http://127.0.0.1:5500/lab-terminal/custom.css */

.custom-slider-blurb a {
    flex-direction: column;
    justify-content: center;
  }
  
  /* Inline #2 | http://127.0.0.1:5500/lab-terminal/index.html# */
  
  .blurb-text-custom {
    width: 100%;
    text-align: center;
    color: black;
    font-weight: 600;
  }
  

/* custom.css | http://127.0.0.1:5500/lab-terminal/custom.css */

.custom-slider-blurb a {
    text-decoration: none;
  }

/* bootstrap.min.css | http://127.0.0.1:5500/lab-terminal/assets/bootstrap.min.css?_cacheOverride=1618050344219 */

.carousel-indicators {
    /* bottom: 0; */
    bottom: -45px;
  }
  
  .carousel-indicators li {
    /* width: 30px; */
    /* height: 3px; */
    /* background-color: #fff; */
    width: 20px;
    height: 20px;
    background-color: #99cc33;
    border-radius: 50%;
  }
    